
<%=form_tag import_brokers_path, multipart: true do%>
  <nav aria-label="m-3">
    <ol class="breadcrumb m-3">
      <li>Import a list of Siren, the BrokerApp will geolocate and map them just below</li>
    </ol>
    <ol class="breadcrumb m-3">
      <li class=""><%= file_field_tag :file, class:""%></li>
      <li class=""><%= submit_tag "Import from file", class:""%></li>
    </ol>
  </nav>
<% end %>
<%= render "brokers/map_all_brokers" %>
