<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="text-decoration:underline">Brokers</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About", brokers_path, style:"padding-bottom:35px;color:inherit;color:white;"%>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag brokers_path, method: :get do %>
      <%= text_field_tag :search, params[:search], class:"form-control mr-sm-2", placeholder:"Siren" %>
      <%= submit_tag ("Siren search"), class:"btn btn-outline-success my-2 my-sm-0"%>
      <% end %>
    </form>
  </div>
</nav>
